.info-mlt {
  margin: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 0;
}
.info-mlt .list-card-info-mlt {
  background-image: url("../images/bg/bg_info.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.75rem;
  width: 46%;
  margin: 0 0;
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 46%;
  max-width: 46%;
}
.info-mlt .list-card-info-mlt img {
  width: 80px;
  height: auto;
}
.info-mlt .list-card-info-mlt p {
  margin-bottom: 0;
  color: #ffffff;
  margin-top: 0;
  font-size: 18px;
  margin-left: 1.2rem;
  position: relative;
}
.info-mlt .list-card-info-mlt p::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
}
.square-block-nav .square-block-list-item h3.txtTitleFuncions {
  font-size: 18px;
  font-weight: 500;
}
.square-block-nav .square-block-list-item p {
  font-weight: 300;
  font-size: 16px;
}
.boxDetail {
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
}
.boxDetail .detailList {
  width: 100%;
  text-align: left;
}
.boxDetail .detailList .titleDetaillist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
}
.boxDetail .detailList .titleDetaillist img {
  width: 45px;
  height: auto;
  margin-right: 0.5rem;
}
.boxDetail .detailList .titleDetaillist .titleDetaillistText {
  font-size: 20px;
  font-weight: 500;
}
.boxDetail .detailList .titleDetaillist .titleDetaillistText.hospital {
  color: #deba52;
}
.boxDetail .detailList .titleDetaillist .titleDetaillistText.board {
  color: #d36d3d;
}
.boxDetail .detailList p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #1c4947;
}
.boxDetail p.txtRemark {
  font-size: 14px;
}
.text-center{
  text-align: center!important;
}
.boxDetail p.txtTitleDetailNews{
  font-size: 14px;
  font-weight: 500;
}
.boxDetail .ulDetailNews{
  font-weight: 300;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.btn{
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.75rem 1.75rem;
  border-radius: 0.75rem;
  margin: 0.25rem 0.25rem;
}
.btn.btnMoreDeatil{
  background-color: #004a47;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.partnerDetail{
  font-size: 20px;
  color: #333;
}
.logoMedTri{
  width: 100%;
  max-width: 450px;
}
.txtMedticalTribune{
  font-size: 20px;
  color: #333;
  text-align: justify;
  text-indent: 50px;
}
.txtMedticaltribunePerson{
  font-size: 20px;
  color: #333;
  text-align: right;
}
.square-block-nav .square-block-list-item{
  flex-direction: column;
}
.txtTitleModalMoreDetail{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}
.txtModalMoreDetail{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0.3rem;
}
.mt-0{
  margin-top: 0!important;
}
.mt-1{
  margin-top: 0.25rem!important;
}
.mb-0{
  margin-bottom: 0!important;
}
.mb-1{
  margin-bottom: 0.25rem!important;
}
.mb-2{
  margin-bottom: 0.5rem!important;
}
.mb-3{
  margin-bottom: 1rem!important;
}
.mb-4{
  margin-bottom: 1.5rem!important;
}
.mb-5{
  margin-bottom: 3rem!important;
}
.paddingOtherPage{
  padding-top: 3rem;
}
.txtDetailAboutUs{
  font-size: 18px;
  color: #333;
  font-weight: 300;
}
.img-ceo{
  float: right;
}
.font-weight-bold{
  font-weight: 500;
}
.boxAdvisory{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.boxAdvisory img{
  width: 120px;
  margin-right: 2rem;
}
.boxAdvisory .txtNameAdvisory{
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.boxAdvisory .txtPositionAdvisory{
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.txtQ{
  font-size: 22px;
  margin-bottom: 0;
}
.txtA{
  font-size: 18px;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  color: #666;
  font-weight: 300;
}
.nav-list .nal-list-item.active{
  /* background-color: #f26e24; */
}
.nav-list .nal-list-item:hover a{
  text-decoration: underline;
}
.nav-list .nal-list-item.active a{
  color: #f26e24;
  font-weight: 700;
}
.nav-list .nal-list-item+.nal-list-item:before{
  left: 0;
  display: none;
}
.nav-list .nal-list-item:last-of-type:before{
  display: block;
}
.pl-li{
  padding-left: 0.9rem;
}
@media screen and (max-width: 767px){
  .info-mlt .list-card-info-mlt{
    width: 94%;
    flex: 0 0 94%;
    max-width: 94%;
  }
  .logoMedTri{
    width: 80%;
  }
  .txtMedticalTribune{
    font-size: 16px;
  }
  .txtMedticaltribunePerson{
    font-size: 15px;
  }
  .partnerDetail{
    font-size: 16px;
  }
  .info-mlt .list-card-info-mlt p{
    font-size: 16px;
  }
  .d-sm-none{
    display: none!important;
  }
  .modal.modalMenu{
    left: 0;
    top: 0px;
    transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
  }
  .modal.modalMenu .modal-block{
    width: 100vw;
    border-radius: 0;
  }
  .ul-toggleMenu{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
  }
  .ul-toggleMenu li{
    display: block;
    width: 100%;
    padding: 0.35rem 1.5rem;
    text-align: center;
  }
  .ul-toggleMenu li a {
    text-decoration: none;
    color: #f26e24;
    text-align: center;  
  }
  .boxAdvisory{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
  }
  .boxAdvisory img{
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .boxAdvisory p{
    text-align: center;
  }
  .col-12{
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .d-sm-none{
    display: none;
  }
  .banner-block .banner-txt-block{
    position: relative;
    left: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    padding-top: 15px;
  }
}
@media screen and (min-width: 768px){
  .modal.modalMenu{
    display: none!important;
  }
  .col-md-6{
    width: 45%;
    max-width: 45%;
    flex: 0 0 45%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .d-md-none{
    display: none;
  }
}
@media screen and (min-width: 1000px){
  .square-block-nav .square-block-icon{
    margin-bottom: 10px;
  }
}